<html>

<head>
    <title>攻擊地區</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- bootstrap-css -->
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
    <!-- //bootstrap-css -->
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <link href="css/style-responsive.css" rel="stylesheet" />
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="css/font.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <link rel="stylesheet" href="css/morris.css" type="text/css" />
    <!-- calendar -->
    <link rel="stylesheet" href="css/monthly.css">
    <!-- //calendar -->
    <!-- //font-awesome icons -->
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="js/raphael-min.js"></script>
    <script src="js/morris.js"></script>

    <!-- 註冊分布圖 start -->
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
    <!-- 註冊分布圖 end -->

</head>

<body>
    <section id="container">
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <!-- //market-->
                <div class="market-updates">
                    <div style="width: 100%;" class="col-md-3 market-update-gd">
                        <div id="hackerMap" class="distribution-map" style="height:100%;width:100%;">

                        </div>
                    </div>
                </div>

            </section>
            <script type="text/javascript">
                var dom = document.getElementById("hackerMap");
                var myChart = echarts.init(dom);

                const drawMap = function(resData) {
                    var hosName = 'Host';
                    option = null;
                    var geoCoordMap = resData.GeoMap;

                    var BJData = resData.BJData;

                    var convertData = function(data) {
                        var res = [];
                        for (var i = 0; i < data.length; i++) {
                            var dataItem = data[i];
                            var fromCoord = geoCoordMap[dataItem[0].name];
                            var toCoord = geoCoordMap[dataItem[1].name];
                            if (fromCoord && toCoord) {
                                res.push([{
                                    fromName: dataItem[0].name,
                                    toName: dataItem[1].name,
                                    coord: fromCoord,
                                    value: dataItem[0].value
                                }, {
                                    coord: toCoord,
                                }]);
                            }
                        }
                        return res;
                    };
                    var color = ['#a6c84c', '#ffa022', '#46bee9'];
                    var mySeries = [];
                    [
                        [hosName, BJData]
                    ].forEach(function(item, i) {
                        mySeries.push({ //线
                            name: item[0],
                            type: 'lines',
                            zlevel: 2,
                            effect: {
                                show: true,
                                period: 4,
                                trailLength: 0.02,
                                symbol: 'arrow',
                                symbolSize: 5
                            },
                            lineStyle: {
                                normal: {
                                    width: 1,
                                    opacity: 0,
                                    curveness: 0
                                }
                            },
                            data: convertData(item[1])
                        }, { //移动 点
                            type: 'effectScatter',
                            coordinateSystem: 'geo',
                            zlevel: 2,
                            rippleEffect: {
                                period: 4,
                                brushType: 'stroke',
                                scale: 4
                            },
                            label: {
                                normal: {
                                    show: true,
                                    position: 'right',
                                    offset: [5, 0],
                                    formatter: '{b}'
                                },
                                emphasis: {
                                    show: true
                                }
                            },
                            symbol: 'circle',
                            symbolSize: function(val) {
                                return 4 + val[2] / 10;
                            },
                            itemStyle: {
                                normal: {
                                    show: false,
                                    color: '#f00'
                                }
                            },
                            data: item[1].map(function(dataItem) {
                                return {
                                    name: dataItem[0].name,
                                    fromName: dataItem[0].name,
                                    toName: dataItem[1].name,
                                    value: geoCoordMap[dataItem[0].name].concat([dataItem[0].value]),
                                    f: dataItem[0].f
                                };
                            })
                        }, { //被攻擊的地點
                            name: item[0],
                            //                      name: item[0] + ' Top10',
                            type: 'scatter',
                            coordinateSystem: 'geo',
                            zlevel: 2,
                            rippleEffect: {
                                period: 4,
                                brushType: 'stroke',
                                scale: 4
                            },
                            label: {
                                normal: {
                                    show: true,
                                    position: 'right',
                                    color: '#00ffff',
                                    formatter: '{b}',
                                    textStyle: {
                                        color: "#00ffff"
                                    }
                                },
                                emphasis: {
                                    show: true
                                }
                            },
                            symbol: 'pin',
                            symbolSize: 30,
                            itemStyle: {
                                normal: {
                                    show: true,
                                    color: '#ff0000'
                                }
                            },
                            data: [{
                                name: item[0],
                                value: geoCoordMap[item[0]],
                            }]
                        });
                    });
                    option = {
                        backgroundColor: '#404a59',
                        visualMap: {
                            min: 50,
                            max: 150,
                            calculable: true,
                            color: ['#FF3333', 'orange', 'yellow', 'lime', 'aqua'],
                            textStyle: {
                                color: '#FFF'
                            }
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: function(params) {
                                // console.log("325 " + params.data);
                                if (params.seriesIndex == 2) {
                                    //   return params.name + '<br>' + params.seriesName + ':' + params.data.value[2] + ' 人次';
                                    return params.name; // + '<br> 攻擊:' + params.data.value + ' 次';
                                } else { //if (params.seriesIndex == 1 || params.seriesIndex == 4 || params.seriesIndex == 7) {
                                    return params.data.fromName + '  ' + params.data.f + ' Attacks  →' + params.data.toName;
                                }
                            }
                        },
                        geo: {
                            map: 'world',
                            label: {
                                emphasis: {
                                    show: false
                                }
                            },
                            roam: true,
                            itemStyle: {
                                normal: {
                                    areaColor: '#AAAAAA',
                                    borderColor: '#404a59'
                                },
                                emphasis: {
                                    areaColor: '#FFFFFF'
                                }
                            }
                        },
                        series: mySeries
                    };
                    if (option && typeof option === "object") {
                        myChart.setOption(option, true);
                    }
                    window.onresize = function() {
                        myChart.resize();
                    }
                };
                $.ajax({
                    type: 'get',
                    contentType: 'application/json', //https://stackoverflow.com/questions/43728951/no-access-control-allow-origin-header-is-present-on-the-requested-resource
                    url: 'http://localhost:8080/GetLocation',
                    success: drawMap
                });
            </script>
            <!--main content end-->
            <script src="js/bootstrap.js"></script>
            <script src="js/jquery.dcjqaccordion.2.7.js"></script>
            <script src="js/scripts.js"></script>
            <script src="js/jquery.slimscroll.js"></script>
            <script src="js/jquery.nicescroll.js"></script>
            <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
            <script src="js/jquery.scrollTo.js"></script>
            <!-- morris JavaScript -->

            <!-- //calendar -->
</body>

</html>